---
import "../styles/global.css";
// Component Imports
import { Button } from "@/components/ui/button";
import AvatarDemo from "@/components/ui/AvatarDemo.tsx";
import CarouselDemo from "@/components/ui/CarouselDemo.tsx";
import { ChartDefault } from "@/components/ChartDefault.tsx";
import { ChartAreaInteractive } from "@/components/ui/chart-double";
import { ComboboxDropdownMenu } from "@/components/ui/ComboBoxDropMenu.tsx";
import { NavigationMenuDemo } from "@/components/ui/NavigationMenuDemo.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body class="font-sans text-black overflow-y-hidden overflow-x-hidden">
		<div class="grid grid-cols-7 min-h-[100vh]">
			<div
				class="col-span-7 bg-[#ffffff] flex flex-col shadow-lg shadow-black/30"
			>
				<header class="flex justify-end pr-2">
					<div class="flex items-center mr-100">
						<svg width="100" height="60">
							<image
								href="assets/opensearch-icon.svg"
								width="60"
								height="60"
								
							/>
						</svg>
						<NavigationMenuDemo client:load />
					</div>
					<div class="flex items-center">
						<ComboboxDropdownMenu client:load />
					</div>
				</header>

				<div class="px-2 pb-2 flex-1 flex flex-col justify-end">
					<div></div>

					<div class="mt-auto w-[60%]">
						<ChartAreaInteractive client:load />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
