---
import "../styles/global.css";
import Dashboard from "@/components/Dashboard.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Dashboard - Astro</title>
	</head>
	<body class="font-sans bg-[#4eb848]/90 text-black overflow-hidden">
		<Dashboard client:load />
	</body>
</html>
